*{
	padding: 0;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif, Arial;
	box-sizing: border-box;
	scroll-behavior: smooth;

	
}

.logo{
	width: 120px;
	text-align: center;
	padding: 0;
	position: fixed;
	top: -35px;
	z-index: 10;
}

#shopname{
	width: 100%;
	background-color: gray;
	color: white;
	font-size: 20px;
	text-align: center;
	max-height: 12%;
	margin: 0 auto;
	position: fixed !important;
	top: 0;
	overflow: hidden;
	z-index: 4;
}

.navbar{
	width: 100%;
	background-color: #197278;
	max-height: 20%;
	margin: 0 auto;
	position: fixed !important;
	top: 0;
	overflow: hidden;
	z-index: 4;
	top: 35px;

}


.navbar1 {
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
}

.linavbar {
  float: left;
  padding: 0 10px;

}

.linavbar, .alinavbar {
  display: block;
  color: black;
  text-align: center;
  padding: 0 auto;
  margin: 0 10px;
  font-size: 15px;
  color: white;
}


.linavbar:hover {
  background-color: #EDDDD4;
  color: white;
  text-decoration: none;
}

.alinavbar:hover {
  color: black;
  text-decoration: none;
}



#homepage{
	background:
	linear-gradient(
		rgba(2, 195, 154, 0.3),
		rgba(240, 243, 189, 0.4)
	),
	url(https://images.pexels.com/photos/796620/pexels-photo-796620.jpeg?cs=srgb&dl=selective-focus-photography-of-three-succulent-plants-796620.jpg&fm=jpg)
	/*url(https://images.pexels.com/photos/3076899/pexels-photo-3076899.jpeg?cs=srgb&dl=potted-green-indoor-plants-3076899.jpg&fm=jpg)*/
	;
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	;
	width: 100%;

}



.column{
	text-align: center;
	height: 300px;
	display: flex;
	padding-top: 80px;
	width: 60%;
}

.container{
	width: 100%;
	margin: 20px 0;
}

.image{

  width: 200px;
  height: 200px;
  border-radius: 50px;
  border: 3px solid white;

}


.overlay{
	position: relative;
	bottom: 80px;		
	background-color: white;
	color: black;
	font-size: 12px;
	width: 200px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.overlay:hover{
	color: white;
	background-color: black;
}


.divider p{
	background-color: white;
	opacity: .8;
	font-family: 'Pattaya', sans-serif;
	font-size: 40px;
	text-align: center;
	margin: 70px 0 40px 0;
	width: 100%;
}
.section1{
	
	text-align: center;
	display: flex;
	width: 90%;
}

.image2{

  width: 180px;
  height: 170px;
  border-radius: 10px;
  border: 2px solid white;
  transition: transform 0.2s;
  z-index: 1;
}

hr{
	opacity:0;
}
/*.image2:hover{
	transform: scale(1.7);
	position: relative;
	z-index: 2;
}*/

.image3{
	width: 180px;
	height: 180px;
	border-radius: 10px;
	border: 2px solid white;
	transition: transform 0.2s;
	z-index: 1;
}

/*.image3:hover{
	transform: scale(1.7);
	z-index: 2;
}*/

.caption{	
	background-color: black;
	color: white;
	font-size: 10px;
	width: 150px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	border-radius: 2px;
	
}

.caption:hover{
	color: black;
	background-color: white;

}

button{
	background-color: white;
	color: black;
	font-size: 9px !important;
	width: 70px;
	padding: 2px;
	text-align: center;
	border-radius: 2px;
}

button:hover{
	color: white;
	background-color: black;

}

.container2{
	position: relative;
	width: 100%;
	margin: 20px 0;
}

#Section3{
	padding-bottom: 80px;
}

footer{
		text-align:center;
		color: white;
		background-color: black;
		padding: 10px;
		font-size: 10px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 380px;
  max-height: 450px;
  height: auto;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  /*max-width: 700px;*/
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



@media only screen and (min-width: 401px) and (max-width: 960px) {

#shopname{
	font-size: 15px;
	max-height: 8%;
	padding-top: 3px;
}

.logo{
width: 80px;
top: -18px;
}


.navbar{
	top: 25px;
}

.linavbar, .alinavbar {
  padding: 0 2px;
  font-size: 10px;
  margin: 0 3px;
}


.column{
overflow-y: hidden;
text-align: center;
height: 230px;
padding-top: 70px;
width: 80%;
}

.container{
width: 100%;
}

.image{

width: 120px;
height: 120px;
border-radius: 20px;
}


.overlay{

bottom: 45px;		
font-size: 8px;
width: 120px;
padding: 2px;
}

.divider p{
font-size: 30px;
margin: 40px 0 30px 0;

}

.section1{
width: 90%;
}

.image2{

width: 80px;
height: 80px;
margin: 2px;
}

.image3{
width: 80px;
height: 80px;
}


.caption{	
font-size: 8px;
width: 78px;
padding: 2px;	
}

#Section3{
padding-bottom: 70px;
}

button{
font-size: 7px !important;
width: 50px;

}
footer{
padding: 5px;
font-size: 7px;
}
}



@media only screen and (max-width: 400px){
/**{
overflow-x: hidden;
}*/


.logo{
width: 50px;
top: -4px;
}

#shopname{
	font-size: 15px;
	max-height: 8%;
	padding-top: 3px;
}


.navbar{
	top: 25px;
}

.linavbar, .alinavbar {
  padding: 0 1px;
  font-size: 8px;
  margin: 0 3px;
}

.container{
	width: 100%;
}
.column{
	overflow-y: hidden;
	text-align: center;
	padding: 50px 0 0 0;
	width: 80%;
	height: 130px;
}

.image{

width: 60px;
height: 60px;
border-radius: 10px;
}


.overlay{
font-size: 5px;
width: 60px;
bottom: 30px;
padding: 2px;
}


.divider p{
font-size: 10px;
margin: 0px 0 5px 0;
}

.section1{
width: 90%;
}


.image2{

width: 40px;
height: 40px;
border-radius: 2px;
border: none;
transition: transform 0.2s;
z-index: 1;
}

/*.image2:hover{
transform: scale(1.7);
position: relative;
z-index: 3;
}*/

.image3{
width: 40px;
height: 40px;
border-radius: 5px;
border: none;
transition: transform 0.2s;
z-index: 1;
}


.space{
font-size: 3px;
margin: 8px;
padding:0;
}

.caption{	
font-size: 4px;
width: 40px;
padding: 2px;	
}
.container2{
margin: 5px 0;
height: 80px;
position: relative;
}

#Section3{
padding-bottom: 40px;
}

button{
font-size: 4px !important;
width: 30px;
padding: 1px;

}

footer{
padding: 3px;
font-size: 5px;
}

.modal-content {
width: 60%;
max-width: 230px;
}
}
