
*{
padding: 0;
margin: 0 auto;
font-family: 'Roboto', sans-serif, Arial;
box-sizing: border-box;
scroll-behavior: smooth;


}

.logo{
	width: 120px;
	text-align: center;
	padding: 0;
	position: fixed;
	top: -35px;
	z-index: 8;
}


#shopname{
width: 100%;
background-color: gray;
color: white;
font-size: 20px;
text-align: center;
max-height: 12%;
margin: 0 auto;
position: fixed !important;
top: 0;
overflow: hidden;
z-index: 6;
}

.navbar{
width: 100%;
background-color: #197278;
max-height: 20%;
margin: 0 auto;
position: fixed !important;
top: 0;
overflow: hidden;
z-index: 6;
top: 35px;

}


.navbar1 {
list-style-type: none;
margin: 0 auto;
overflow: hidden;
}

.linavbar {
float: left;
padding: 0 10px;

}

.linavbar, .alinavbar {
display: block;
color: black;
text-align: center;
padding: 0 auto;
margin: 0 10px;
font-size: 15px;
color: white;
}


.linavbar:hover {
background-color: #EDDDD4;
color: white;
text-decoration: none;
}

.alinavbar:hover {
color: black;
text-decoration: none;
}

.homepage1{
margin-top: 50px;
height: 300px;
max-width: 1000px;
}
.homepage2{
text-align: center;
width: 900px;
height: auto;
padding: 20px;
background-color: white;
/*position: absolute;*/
}

.home2{
width: 280px;
height: 260px;
display: inline-flex;
}

#home2-1{
margin-right: 140px

}

#home2-2{
margin-left: 140px
}

.homemsg{
width: 240px;
font-weight: bolder;
text-align: center;
font-size: 18px;
color: black;
position: relative;
bottom: 260px;
letter-spacing: 3px;
line-height: 22px;
background-color: black;
color: white;
padding: 10px;
opacity: .7;
}



#hmcaption1{
font-size: 12px;
}

.landpage{
background:
linear-gradient(
	rgba(2, 195, 154, 0.75),
	rgba(240, 243, 189, 0.45)
),
/*url(https://images.pexels.com/photos/1166641/pexels-photo-1166641.jpeg?cs=srgb&dl=green-leafed-plants-1166641.jpg&fm=jpg)*/
url(https://images.pexels.com/photos/3076899/pexels-photo-3076899.jpeg?cs=srgb&dl=potted-green-indoor-plants-3076899.jpg&fm=jpg)
;
background-size: cover;
background-position:center;
background-repeat: no-repeat;
;
width: 100%;
}

.image {
width: 75%;
height: auto;
z-index: 1
}

.forscroll{
opacity: 0;

}

#container{
width: 50%;
display: block;
text-align: center;
position: absolute;
top: 90px;
right: 40px;
z-index: 5;
animation: mymove 2s 1;
}

@keyframes mymove{
from {top: 60px;}
to {top: 90px;}
}

#caption1{
text-shadow: 3px 5px 5px black;
font-weight: bolder;
color: white;
font-size: 40px;
line-height: 50px;
margin-top: 40px;
}



#caption3{
font-weight: bolder;
text-align: center;
border-radius: 10px;
color: white;
font-size: 80px !important;
line-height: 40px;
opacity: 1;
padding: 30px;
font-family: 'Pattaya', sans-serif;
letter-spacing: 5px;
text-shadow: 3px 5px 5px black;
}



.shop-btn{
background-color: #197278;
color: white;
padding: 10px;
border-radius: 50%;
width: 200px;
height: 90px;
margin: 0 auto;
font-size: 24px;
margin-top: 50px;
}

#ashop-btn:hover{
text-decoration: none;
color: black;
}

a{
text-decoration: none;
color: white;
}
.section{
font-size: 40px;
background-color: white;
text-align: center;
font-family: 'lobster', cursive;
opacity: .8;
margin: 70px 0 0 0;
}



#about{
width: 90%;
text-align: center;
display: flex;
margin: 0 auto;
}



.ceogallery{
text-align: center;
display: inline;
width: 50%;
margin: 20px;

}

.ceo{

width: 25%;
height: auto;
border-radius: 50%;
padding: 0 auto;
margin-bottom: -20px;
border: 5px solid #081c15;
}


.phrase{
width: 50%;
height: auto;
background-color: #d8f3dc;
padding: 15px;
margin: 20px;
border: 2px solid black;
box-shadow: 10px 10px;
border-radius: 20px;
font-size: 12px;
margin-bottom: 40px;
}

.message-ceo{
background-color: #081c15;
padding: 30px 20px 20px 20px;
border-radius: 20px;
text-align: center;
font-size: 13px;
color: white;
}
.ptitles{
font-weight: bolder;
font-size: 14px;

}

.pcontent{
padding: 0px;

}


.contact{
background-color: #197278;
width: 100%;
height: 500px;
display: flex;
padding: 15px;
padding-top: 5%;
}

.contactus{
width: 45%;
text-align: center;
display: inline-block;
color: white;	
margin-left: 5%;
}



.contactmain{
width: 100%;
display: flex;
height: auto;
border: 2px solid white;
padding: 20px;	
}

.contact-left, .contact-right{
text-align: left;
list-style-type: none;
padding: 10px 10px;

}

.social-media{
width: 70%;
font-size: 30px;
padding: 20px;
}

.fab{
margin: 20px;
color: white;
}

.fab:hover{
color: blue;
}

.sendus{
display: inline-block;
width: 50%;
color: white;
font-size: 12px;
}

#form{
display: inline-block;
width: 100%;
text-align: left;
}

.form1{
color: white;
width: 80%;
}

input, label{
margin: 20px;
font-size: 15px;
}


textarea, input{
width: 100%;
padding: 5px;
}

textarea{
height: 20%;
}


.button{
text-align: center;
padding: 6px;
}


footer{
text-align:center;
color: white;
background-color: black;
padding: 10px;
font-size: 10px;
}



@media only screen and (min-width: 401px) and (max-width: 960px) {

*{
	overflow-x: hidden
}

#shopname{
	font-size: 15px;
	max-height: 8%;
	padding-top: 3px;
}

.logo{
	width: 80px;
	top: -18px;
}

.navbar{
	top: 25px;
}

.linavbar, .alinavbar {
  padding: 0 2px;
  font-size: 10px;
  margin: 0 3px;
}

.image{
	margin-bottom: -30px;
}


#container{
	width: 50%;
	top: 90px;
	right: 20px;
}



#caption1{
	text-shadow: 2px 5px 5px black;
	font-size: 25px;
	line-height: 25px;
	margin-top: 25px;
}


#caption3{
	border-radius: 10px;
	color: white;
	font-size: 40px !important;
	line-height: 40px;
	padding: 12px;
	letter-spacing: 4px;
	text-shadow: 3px 7px 7px black;
}

.homepage1{
	height: auto;
	overflow-y: hidden;
	}

.homepage2{
	text-align: center;
	width: 100%;
	height: 220px;
	padding: 15px 5px 15px 5px;
	background-color: white;
	position: absolute;
}

.home2{
	width: 200px;
	height: 190px;
	display: inline-flex;
}


#home2-1{
	margin-right: 100px

}

#home2-2{
	margin-left: 100px
}

.homemsg{
	width: 180px;
	height: 190px;
	font-size: 12px;
	position: relative;
	top: 30px;
	letter-spacing: 2px;
	line-height: 13px;

}

#hmcaption1{
	margin-top: 4px;
	font-size: 7px;
	line-height: 8px;
	margin-bottom: 30px;
}

#section2{
	margin-top: 100px;
}
.shop-btn{
	padding: 10px;
	border-radius: 50%;
	width: 120px;
	height: 60px;
	margin: 0 auto;
	font-size: 12px;
	margin-top: 15px;
}


.section{
	font-size: 30px;
	margin: 30px 0 20px 0;

}
.contact{
	height: 300px;
	display: flex;
	padding: 10px;
	padding-top: 3%;
}

.contactus{
	width: 50%;
	text-align: center;
	display: inline-block;
	color: white;	
	margin-left: 5%;
	font-size: 10px;
}

.contactmain{
	width: 100%;
	display: flex;
	height: auto;
	border: 2px solid white;
	padding: 3px;	
}

.contact-left, .contact-right{
	text-align: left;
	list-style-type: none;
	padding: 5px;

}

.social-media{
	width: 50%;
	font-size: 10px;
	padding: 7px;
}

.fab{
	margin: 3px;
	color: white;
}

.fab:hover{
	color: blue;
}

.sendus{
	display: inline-block;
	width: 50%;
	color: white;
	font-size: 10px;
}

#form{
	display: inline-block;
	width: 100%;
	text-align: left;
}

.form1{
	color: white;
	width: 80%;
}

input, label{
	margin: 6px;
	font-size: 10px;
}


textarea, input{
	width: 100%;
	padding: 5px;
}

textarea{
	height: 20%;
}

.btn{
	font-size: 8px !important;
}


footer{
	padding: 6px;
	font-size: 6px;
}
}


@media only screen and (max-width: 400px){
*{
	overflow-x: hidden
}

#shopname{
	font-size: 15px;
	max-height: 5%;
	padding-top: 3px;
}

.logo{
	width: 50px;
	top: -4px;
}

.navbar{
	top: 25px;
}

.linavbar, .alinavbar {
  padding: 0 1px;
  font-size: 8px;
  margin: 0 3px;
}


.image{
	margin-bottom: -40px;
	margin-top: 50px;
}

#container{
	width: 50%;
	top: 70px;
	right: 20px;
}

@keyframes mymove{
from {top: 60px;}
to {top: 70px;}
}

#caption1{
	text-shadow: 2px 3px 3px black;
	font-weight: bolder;
	color: white;
	font-size: 15px;
	line-height: 15px;
	margin-top: 10px;
}

.homepage1{
	max-height: 200px;
	height: 120px;
	overflow-y: hidden;
}

.homepage2{
	text-align: center;
	width: 100%;
	height: 120px;
	padding: 15px 5px 15px 5px;
	background-color: white;
	position: absolute;
}

.home2{
	width: 100px;
	height: 90px;
	display: inline-flex;
}


#home2-1{
	margin-right: 60px

}

#home2-2{
	margin-left: 60px
}

.homemsg, br{
	width: 110px;
	height: 75px;
	font-weight: bolder;
	text-align: center;
	font-size: 7px;
	position: relative;
	top: 23px;
	letter-spacing: 1px;
	line-height: 9px;
}


#hmcaption1{
	font-size: 4px;
	line-height: 5px;
	margin-bottom: 2px;
}

#section2{
	margin-top: 50px;
}

#caption3{
	font-weight: bolder;
	text-align: center;
	border-radius: 10px;
	color: white;
	font-size: 20px !important;
	line-height: 20px;
	opacity: 1;
	padding: 6px;
	font-family: 'Pattaya', sans-serif;
	letter-spacing: 4px;
	text-shadow: 3px 3px 3px black;
}



.shop-btn{
	padding: 5px;
	border-radius: 50%;
	width: 60px;
	height: 40px;
	margin: 0 auto;
	font-size: 7px;
	margin-top: 6px;
}


.section{
	font-size: 20px;
	margin: 50px 0 20px 0;

}

#about{
	width: 90%;
	padding-bottom: 20px;
}



.ceogallery{
	width: 45%;
	margin: 5px;

}

.ceo{
	width: 45%;
	border: 2px solid #081c15;
}


.phrase{
	width: 50%;
	padding: 5px;
	margin: 5px;
	border: 2px solid black;
	box-shadow: 5px 5px;
	border-radius: 10px;
	font-size: 6px;
}

.message-ceo{
	padding: 20px 10px 10px 10px;
	border-radius: 20px;
	font-size: 8px;
}

h5{
	font-size: 12px !important;
}

.ptitles{
	font-size: 10px;
}

.pcontent{
	padding: 0px;

}
.contact{
	height: 200px;
	display: flex;
	padding: 10px;
	padding-top: 4%;

}

.contactus{
	width: 50%;
	text-align: center;
	display: inline-block;
	color: white;	
	margin-left: 5%;
	font-size: 6px;
}

.contactmain{
	width: 100%;
	display: flex;
	height: auto;
	border: 2px solid white;
	padding: 3px;	
}

.contact-left, .contact-right{
	text-align: left;
	list-style-type: none;
	padding: 5px;

}

.social-media{
	width: 70%;
	font-size: 10px;
	padding: 5px;
}

.fab{
	margin: 5px;
	color: white;
}

.fab:hover{
	color: blue;
}

.sendus{
	display: inline-block;
	width: 50%;
	color: white;
	font-size: 6px;
}

#form{
	display: inline-block;
	width: 100%;
	text-align: left;
}

.form1{
	color: white;
	width: 80%;
}

input, label{
	margin: 6px;
	font-size: 6px;
}


textarea, input{
	width: 100%;
	padding: 3px;
}

textarea{
	height: 20%;
}

.btn{
	font-size: 6px !important;
}

footer{
	padding: 6px;
	font-size: 6px;
}

}

/*DESKTOP STYLE*/
@media only screen and (min-width: 1366px) {
#container{
	top: 200px;
	animation: mymove 3s 1;
}

@keyframes mymove{
	from {top: 150px;}
	to {top: 200px;}
}

#caption1{
	font-size: 60px;
	line-height: 60px;
	}



#caption3{
	font-size: 100px !important;
}

}