*{
	padding: 0;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif, Arial;
	box-sizing: border-box;
	scroll-behavior: smooth;

	
}


.logo{
	width: 120px;
	text-align: center;
	padding: 0;
	position: fixed;
	top: -35px;
	z-index: 10;
}

#shopname{
	width: 100%;
	background-color: gray;
	color: white;
	font-size: 20px;
	text-align: center;
	max-height: 12%;
	margin: 0 auto;
	position: fixed !important;
	top: 0;
	overflow: hidden;
	z-index: 6;
}

.navbar{
	width: 100%;
	background-color: #197278;
	max-height: 20%;
	margin: 0 auto;
	position: fixed !important;
	top: 0;
	overflow: hidden;
	z-index: 6;
	top: 35px;

}


.navbar1 {
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
}

.linavbar {
  float: left;
  padding: 0 10px;

}

.linavbar, .alinavbar {
  display: block;
  color: black;
  text-align: center;
  padding: 0 auto;
  margin: 0 10px;
  font-size: 15px;
  color: white;
}


.linavbar:hover {
  background-color: #EDDDD4;
  color: white;
  text-decoration: none;
}

.alinavbar:hover {
  color: black;
  text-decoration: none;
}



#homepage{
	background:
	linear-gradient(
		rgba(2, 195, 154, 0.3),
		rgba(240, 243, 189, 0.4)
	),
	url(https://images.pexels.com/photos/796620/pexels-photo-796620.jpeg?cs=srgb&dl=selective-focus-photography-of-three-succulent-plants-796620.jpg&fm=jpg)
	/*url(https://images.pexels.com/photos/3076899/pexels-photo-3076899.jpeg?cs=srgb&dl=potted-green-indoor-plants-3076899.jpg&fm=jpg)*/
	;
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	;
	width: 100%;
	margin-top: -20px;
/*	height: 100vh;*/

}

#heading{
	width: 100%;
	text-align: center;
	position: relative;
	top: 120px;
}

#card-deck1{
	padding-top: 120px;
}

footer{
		text-align:center;
		color: white;
		background-color: black;
		padding: 10px;
		font-size: 10px;
		margin-top: 300px;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {


#shopname{
	font-size: 15px;
	max-height: 8%;
	padding-top: 3px;
}

.logo{
width: 80px;
top: -18px;
}


.navbar{
	top: 25px;
}

.linavbar, .alinavbar {
  padding: 0 2px;
  font-size: 10px;
  margin: 0 3px;
}

#card-deck1{
position: relative;
top: 60px;
}

#card-deck2{
position: relative;
top: 60px;
}

.card-text{
	font-size: 9px;

}
.card-title{
	font-size: 12px;
}
#card-deck1{
	padding-top: 20px;
}

footer{
	padding: 5px;
	font-size: 7px;
	margin-top: 320px;
}

}


@media only screen and (max-width: 400px){
/**{
	overflow-x: hidden;
}*/

#shopname{
	font-size: 15px;
	max-height: 5%;
	padding-top: 3px;
}

.logo{
	width: 50px;
	top: -4px;
	}

.navbar{
	top: 25px;
}

.linavbar, .alinavbar {
  padding: 0 1px;
  font-size: 8px;
  margin: 0 3px;
}

#card-deck1{
position: relative;
top: -30px;
height: auto;
}

#card-deck2{
position: relative;
top: -70px;
}

.card-text{
	font-size: 8px !important;
}

.card-body{
	padding: 7px !important;
}

.card-text{
	font-size:7px;
}

.card-title{
	font-size: 10px;
}

footer{
	padding: 3px;
	font-size: 5px;
	margin-top: 0;
}
}